/* Estilo Geral */
body {
    font-family: 'Arial', 'Verdana', 'Tahoma', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    margin-top: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

/* Parágrafos */
p {
    font-size: 14px;
    margin: 5px 0;
}

/* Lista de Discos */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f9fafc;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px 0;
    padding: 8px 12px;
    font-size: 14px;
}

ul li:nth-child(even) {
    background: #eef1f7;
}

.botao-copiar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.botao-copiar:hover {
    background-color: #45a049;
  }
  

.botao-salvar-xml {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.botao-salvar-xml:hover {
    background-color: #0056b3;
  }

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.footer-logo {
    width: 200px;
    height: auto;
}

/* Estilização geral da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Cabeçalho da tabela */
table thead tr {
    background-color: #f2f2f2;
    text-align: left;
    border-bottom: 2px solid #ddd;
    text-align: center;
}

/* Estilização para células de cabeçalho */
table thead th {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

/* Estilização para as células de dados */
table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* Alternância de cores para linhas */
table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

/* Hover effect para as linhas */
table tbody tr:hover {
    background-color: #f1f1f1;
}